{% extends 'base.html' %}
{% block title %}Polls{% endblock %}
{% block styles %}<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">{% endblock %}

{% block search %}
    <div class="search-form">
            <form action="{% url 'index' %}" method="GET">
                <input type="text" name="search">
                <input type="submit" value="Найти">
            </form>
        </div>
{% endblock %}
{% block content %}
<h1>Проекты:</h1>
    <div class = "tasks">
        {% for poll in polls %}
            <div class="card">
                <div class="card-content">
                    <a href="{% url 'answer' poll.pk %}" class="card-button">ТЕСТ</a>
                <h3><a href="{% url 'poll_view' poll.pk %}" class="card-button pre">{{ poll.question }}</a></h3>
                <p>Дата создания: </p>
                <p>{{ poll.date_create }}</p>
            </div>
        </div>
        {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    </div>
{% endblock %}
