{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'poll_view' choice.poll.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить вариант?"</h1>
    <form action="{% url "choice_delete" choice.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" value="Да" class="button accept">Подтвердить</button>
        <a href="{% url 'poll_view' choice.poll.pk %}" class="button cancel">Отмена</a>
    </form>
    <h3>Содержимое варианта: </h3>
    <p class="pre">{{ choice.text }}</p>
{% endblock %}